body {
  background-image: url(woo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}


img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 240px;
  width: 240px;
}

.profileText {
  color: white;
  font-size: 19px;
  text-align: center;
  padding-top: 2px;
  font-family: 'Karla', sans-serif;
}

i {
  color: white;
  margin-left: 19px;
}

.links {
}

i:hover {
  color: black;
}

.box {
  background-color: rgb(156,81,63,0.3);
  margin: auto;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-left: 360px;
  margin-right: 360px;
  margin-top: 180px;
}
